
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form>
        <div class="form-group">
            <label th:text="ID"></label>
            <input type="text" th:value="${board.id}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label th:text="제목"></label>
            <input type="text"  th:value="${board.title}" class="form-control"  readonly>
        </div>

        <div class="form-group">
            <label th:text="카테고리"></label>
            <input type="text"  th:value="${board.boardType}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label th:text="내용"></label>
            <input type="text"  th:value="${board.content}" class="form-control" readonly>
        </div>


        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='update-post.html'"
                        th:onclick="|location.href='@{/board/edit/{id} (id=${board.id})}'|"
                        type="button">글 수정</button>
            </div>
            <div class="col">
                <a class="w-100 btn btn-primary btn-lg"
                   th:href="@{/board/delete/{id} (id=${board.id})}"
                   type="button">글 삭제</a>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/board/home}'|"
                        type="button">뒤로 가기
                </button>
            </div>

        </div>



    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var boardForm = /*[[${boardForm}]]*/ "";
    /*]]>*/
</script>
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>